---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <!-- Add banner Here -->
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle=""
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Améliorez votre carrière avec <span
        class="text-yellow-500 dark:text-yellow-400">Nobda</span>`
    subTitle=" Your trusted platform for scholarships, internships, PhD programs, and job opportunities. Advance Your Career, Secure Opportunities, Achieve Global Success!"
    primaryBtn="Explorer les Opportunités"
    primaryBtnURL="/blog"
    secondaryBtn="Commencer Votre Aventure"
    secondaryBtnURL="/services"
    src={heroImage}
    alt="hero image"
  />

  <FeaturesNavs
    title=`Trouver des opportunités n'a jamais été simple. Découvrez comment Nobda simplifie le processus de recherche jusqu'à la réussite.`
    tabs={[
      {
        heading: "découvrir les opportunités",
        content:
          "From scholarships to internships, PhD programs, and job openings, our platform offers a wide range of opportunities that cater to various fields and career stages. Find what suits you best and take the next step in your professional journey.",
        svg: "tools",
        src: tools,
        alt: "",
        first: true,
      },
      {
        heading: "Qu’offrons-nous chez nobda ?",
        content:
          "Nobda offre une vaste gamme de services, y compris l’accès à des possibilités d’éducation telles que des bourses, des bourses, des échanges culturels, des programmes de doctorat financés et des conférences. Il fournit également des listes d’emplois et de stages. Grâce à For9a, vous pouvez postuler à des opportunités sélectionnées avec le soutien de notre équipe. De plus, nous offrons des séances de counseling personnalisé et un test de personnalité pour aider les utilisateurs à découvrir des parcours académiques et professionnels appropriés.",
        svg: "dashboard",
        src: dashboard,
        alt: "",
        second: true,
      },
      {
        heading: "Qui sommes-nous?",
        content:
          "Nous nous engageons à mettre en relation des personnes ambitieuses avec les meilleures opportunités dans le monde entier. Que vous cherchiez à améliorer votre 		 compétences, faites progresser votre éducation ou lancez votre carrière, nous vous fournissons les ressources dont vous avez besoin pour réussir.",
        svg: "house",
        src: construction,
        alt: "",
      },
    ]}
  />
  <div id="FAQ">
  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
  </div>
</MainLayout>
