---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";


---

<MainLayout>
  <!-- Add banner Here -->
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Enhance Your Career with <span
        class="text-yellow-500 dark:text-yellow-400">Nobda</span>`
    subTitle=" Your trusted platform for scholarships, internships, PhD programs, and job opportunities. Advance Your Career, Secure Opportunities, Achieve Global Success!"
    primaryBtn="Explore Opportunities"
    primaryBtnURL="/blog"
    secondaryBtn="Start Your Journey"
    secondaryBtnURL="/services"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesNavs
    title=`Navigating opportunities has never been easier. Discover how <span class="text-yellow-500 dark:text-yellow-400">Nobda</span> simplifies the process from search to success.`
    tabs={[
      {
        heading: "Discover Opportunities",
        content:
          "From scholarships to internships, PhD programs, and job openings, our platform offers a wide range of opportunities that cater to various fields and career stages. Find what suits you best and take the next step in your professional journey.",
        svg: "globe",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "What do we offer at nobda ?",
        content:
          "Nobda offers a wide range of services, including access to educational opportunities such as scholarships, fellowships, cultural exchanges, funded PhD programs, and conferences. It also provides job and internship listings. Through For9a, you can apply to selected opportunities with the support of our team. Additionally, we offer personalized counseling sessions and a personality test to help users discover suitable academic and career paths.",
        svg: "target",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Who We Are ?",
        content:
          "We are dedicated to connecting ambitious individuals with the best 		opportunities around the world. Whether you’re looking to enhance your 		skills, advance your education, or jumpstart your career, we provide the resources you need to succeed.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />
  <div id="FAQ">
  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
  </div>
</MainLayout>
