---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/ar/faqs.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";


---
<MainLayout>
  <!-- Add banner Here -->
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />
  <div class="rtl-text">
  <HeroSection
  title=`عزز مسيرتك المهنية مع <span class="text-yellow-500 dark:text-yellow-400">نبذة</span>`
  subTitle="منصتك الموثوقة للمنح الدراسية، التدريبات، برامج الدكتوراه، وفرص العمل. عزز مسيرتك المهنية، واغتنم الفرص، وحقق النجاح العالمي!"
  primaryBtn="استكشف الفرص"
    primaryBtnURL="/ar/blog"
    secondaryBtn="ابدأ رحلتك"
    secondaryBtnURL="/ar/services"
    src={heroImage}
    alt="نبذة"
  />
  </div>
  <div class="max-w-screen-md rtl-text text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 auto; text-align: center; margin-top: 30px;">
    <h3 style="background-color: #EEC52D;">هل اشتركت في قناة يوتيوب أو قناة تليجرام الخاصة بالفرص؟</h3>
  
    <!-- Section subtitle -->
    <p class="mb-8 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-xl">
      كن أول من يعرف عن فرصنا بمجرد نشرها.
    </p>
  
    <!-- Conditional rendering of PrimaryCTA component if 'btnExists' property is truthy -->
    <div style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
      <a href="https://t.me/nobdaforyou" style="background-color: #0088CC; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">انضم إلينا على Telegram</a>
      <a href="https://www.youtube.com/@Nobda-x7y" style="background-color: #FF0000; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">انضم إلينا على YouTube</a>
    </div>
  </div>
  <div class="rtl-text">
  <FeaturesNavs
  title=`التنقل بين الفرص لم يكن أسهل من قبل. اكتشف كيف تُبسط <span class="text-yellow-500 dark:text-yellow-400">نبذة</span> العملية من البحث حتى تحقيق النجاح.`
  tabs={[
  {
    heading: "اكتشاف الفرص",
    content:
      "من المنح الدراسية إلى التدريبات وبرامج الدكتوراه وإعلانات الوظائف، توفر منصتنا مجموعة واسعة من الفرص التي تلبي مختلف المجالات والمراحل المهنية. اكتشف ما يناسبك واتخذ الخطوة التالية في مسيرتك المهنية.",
    svg: "globe",
    src: tools,
    alt: "معدات ثقيلة صفراء وسوداء على أرض عشبية بنية",
    first: true,
  },
  {
    heading: "ماذا نقدم في نبذة؟",
    content:
      "تقدم نبذة مجموعة واسعة من الخدمات، بما في ذلك الوصول إلى الفرص التعليمية مثل المنح الدراسية، الزمالات، التبادلات الثقافية، وبرامج الدكتوراه الممولة والمؤتمرات. كما نوفر إعلانات للوظائف والتدريبات. عبر منصتنا، يمكنك التقديم على فرص مختارة بدعم من فريقنا. بالإضافة إلى ذلك، نقدم جلسات استشارة شخصية واختبارات لاكتشاف المسارات الأكاديمية والمهنية المناسبة.",
    svg: "target",
    src: dashboard,
    alt: "لقطة شاشة أو تمثيل رسومي للوحة تحكم سهلة الاستخدام",
    second: true,
  },
  {
    heading: "من نحن؟",
    content:
      "نحن ملتزمون بربط الأفراد الطموحين بأفضل الفرص حول العالم. سواء كنت تبحث عن تحسين مهاراتك، تعزيز تعليمك، أو بدء مسيرتك المهنية، نحن نوفر لك الموارد التي تحتاجها لتحقيق النجاح.",
    svg: "house",
    src: construction,
    alt: "إطار مبنى معدني رمادي بالقرب من رافعة برجية أثناء النهار",
  },
]}
  />
  </div>
  <div id="FAQ" class="rtl-text">  
  <FAQ title="الأسئلة الشائعة" faqs={faqs} />
  </div>
</MainLayout>

<style>
  .rtl-text {
    direction: rtl;
    text-align: right;
  }
  
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
  </style>
  